{% extends "layout.tpl.html" %}
{% block title %}Top{% endblock %}
{% block content %}
    {% if isLoggedIn %}
        <form action="/add_room" method="post" class="loginform">
            <fieldset>
                <legend>部屋追加</legend>
                <input name="name" required placeholder="部屋名" >
                URL: <code>http://{{ server.HTTP_HOST }}/rooms/<input name="slug" required placeholder="slug" pattern="[a-zA-Z0-9]+"></code>
                <input name="user_id" value="{{ loginUser.id }}" type="hidden">
                <button type="submit">追加</button>
            </fieldset>
        </form>
    {% else %}
        <form action="/login" class="loginform" method="post">
            <fieldset>
                <legend>Login</legend>
                <input name="user" value="{{ user }}" type="text" placeholder="ユーザー名" pattern="[a-zA-Z0-9]+">
		<input name="password" placeholder="パスワード" type="password">
                <button type="submit">Login</button>
            </fieldset>
        </form>
	<button type="button" onclick="location.href='/regist'">新規登録</button> 
	

    {% endif %}
    <h2>部屋一覧</h2>
    <ul>
        {% for r in rooms %}
            <li><a href="/rooms/{{ r.slug }}">{{ r.name }}</a>
        {% endfor %}
    </ul>
{% endblock %}
