{% extends "layout.tpl.html" %}
{% block title %}Top{% endblock %}
{% block content %}
    {% if isLoggedIn %}
        <form action="/add_room" method=post class="loginform">
            <fieldset>
                <legend>部屋追加</legend>
                <input name=name required placeholder="部屋名" >
                URL: <code>http://{{ server.HTTP_HOST }}/rooms/<input name=slug required placeholder="slug" pattern="[a-zA-Z0-9]+"></code>
                <input name=user_id value="{{ loginUser.id }}" type=hidden>
                <input type=hidden name=csrf_token value="{{ csrf_token }}" />
                <button type=submit>追加</button>
            </fieldset>
        </form>
    {% else %}
        <form action="/login" class="loginform" method="post">
            <fieldset>
                <legend>Login</legend>
                <input name=user value="{{ user }}" >
                <input type=password name=password>
                <input type=hidden name=csrf_token value="{{ csrf_token }}" />
                <button type=submit>Login</button>
            </fieldset>
        </form>
        <a href="/register">登録</a>
    {% endif %}
    <h2>部屋一覧</h2>
    <ul>
        {% for r in rooms %}
            <li><a href="/rooms/{{ r.slug }}">{{ r.name }}</a>
        {% endfor %}
    </ul>
{% endblock %}
