<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/wintern.css">
    </head>
    <body>
        <div id="navi">
            <h1><a href="/">Wintern Chat</a></h1>
            {% if isLoggedIn %}
                <div>
                    <a href="/@{{ loginUser.slug }}">{{ loginUser.name }}</a>
                    <small><a href="/logout">ログアウト</a></small>
                </div>
            {% else %}
                <div>
                    <a href="/register">Sign_up</a>
                </div>                
            {% endif %}

        </div>
        {% block content %}{% endblock %}
        <footer>&copy; <a href="/LICENSE.txt">p(ixi)v</footer>
    </body>
</html>
