{% extends "layout.tpl.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form action="/login" method=post class="loginform">
        <fieldset>
            <legend>Login</legend>
            <input name=user value="{{ user }}" placeholder="ユーザー名" pattern="[a-zA-Z0-9]+">
            <input name=password type=password placeholder="パスワード">
            <input name=xsrf_token type=hidden value={{ xsrf_token }}>
            <button type=submit>Login</button>
        </fieldset>
    </form>
    {% if isLoginSuccess == false %}
        <p><strong>ログインに失敗しました.ユーザー名, またはパスワードが正しくありません.</strong></p>
    {% endif %}
{% endblock %}
